.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin/*
log
erl_crash.dump
.rebar
logs
_build
.idea
rebar3.crashdump
*.iml
*.project
.settings
deps
*.bat
!*.sh
rel/config
rel/deps
rel/otp-*
rel/*.tar.gz
rel/ebin
*.log
*.log.bak
*.tar.gz
rel/wildfire*
ebin/
*.zip
*.tmp
