<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>taiji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,462},{120,122}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,53},{120,122}}</string>
                <key>sourceSize</key>
                <string>{238,194}</string>
            </dict>
            <key>taiji10.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,440},{144,140}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,44},{144,140}}</string>
                <key>sourceSize</key>
                <string>{238,194}</string>
            </dict>
            <key>taiji11.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,452},{140,142}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,43},{140,142}}</string>
                <key>sourceSize</key>
                <string>{238,194}</string>
            </dict>
            <key>taiji12.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,440},{144,144}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,42},{144,144}}</string>
                <key>sourceSize</key>
                <string>{238,194}</string>
            </dict>
            <key>taiji13.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,316},{144,146}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,41},{144,146}}</string>
                <key>sourceSize</key>
                <string>{238,194}</string>
            </dict>
            <key>taiji14.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,292},{146,148}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,40},{146,148}}</string>
                <key>sourceSize</key>
                <string>{238,194}</string>
            </dict>
            <key>taiji15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{146,148}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,40},{146,148}}</string>
                <key>sourceSize</key>
                <string>{238,194}</string>
            </dict>
            <key>taiji16.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,168},{146,148}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,40},{146,148}}</string>
                <key>sourceSize</key>
                <string>{238,194}</string>
            </dict>
            <key>taiji17.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,162},{146,148}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,40},{146,148}}</string>
                <key>sourceSize</key>
                <string>{238,194}</string>
            </dict>
            <key>taiji18.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,156},{146,148}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,40},{146,148}}</string>
                <key>sourceSize</key>
                <string>{238,194}</string>
            </dict>
            <key>taiji19.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,310},{146,146}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,41},{146,146}}</string>
                <key>sourceSize</key>
                <string>{238,194}</string>
            </dict>
            <key>taiji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,458},{122,122}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,53},{122,122}}</string>
                <key>sourceSize</key>
                <string>{238,194}</string>
            </dict>
            <key>taiji20.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,304},{146,146}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,41},{146,146}}</string>
                <key>sourceSize</key>
                <string>{238,194}</string>
            </dict>
            <key>taiji21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{144,144}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,42},{144,144}}</string>
                <key>sourceSize</key>
                <string>{238,194}</string>
            </dict>
            <key>taiji22.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,582},{140,142}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,43},{140,142}}</string>
                <key>sourceSize</key>
                <string>{238,194}</string>
            </dict>
            <key>taiji3.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,586},{124,124}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,52},{124,124}}</string>
                <key>sourceSize</key>
                <string>{238,194}</string>
            </dict>
            <key>taiji4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,168}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{216,168}}</string>
                <key>sourceSize</key>
                <string>{238,194}</string>
            </dict>
            <key>taiji5.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{204,164}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{204,164}}</string>
                <key>sourceSize</key>
                <string>{238,194}</string>
            </dict>
            <key>taiji6.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{190,158}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,22},{190,158}}</string>
                <key>sourceSize</key>
                <string>{238,194}</string>
            </dict>
            <key>taiji7.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{178,152}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{178,152}}</string>
                <key>sourceSize</key>
                <string>{238,194}</string>
            </dict>
            <key>taiji8.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{164,146}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{164,146}}</string>
                <key>sourceSize</key>
                <string>{238,194}</string>
            </dict>
            <key>taiji9.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,150},{150,140}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,43},{150,140}}</string>
                <key>sourceSize</key>
                <string>{238,194}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>taiji.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edb8b4597622fbe3ea152ebcdf413499:1/1$</string>
            <key>textureFileName</key>
            <string>taiji.png</string>
        </dict>
    </dict>
</plist>
