<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xishou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{178,134}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{178,134}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>xishou10.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,744},{176,140}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{176,140}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>xishou11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{176,142}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{176,142}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>xishou12.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,324},{178,148}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{178,148}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>xishou13.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,170},{178,154}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{178,154}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>xishou14.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,168},{178,154}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{178,154}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>xishou15.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,166},{178,158}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{178,158}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>xishou16.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{178,162}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{178,162}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>xishou17.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{178,164}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{178,164}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>xishou18.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{178,166}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,166}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>xishou19.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{180,168}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,168}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>xishou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,456},{178,134}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{178,134}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>xishou20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,168}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,168}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>xishou21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{176,146}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{176,146}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>xishou22.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,592},{176,146}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{176,146}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>xishou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,326},{178,138}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{178,138}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>xishou4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{178,140}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{178,140}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>xishou5.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,314},{178,140}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{178,140}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>xishou6.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,172},{178,140}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{178,140}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>xishou7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{178,144}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{178,144}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>xishou8.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,326},{178,146}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{178,146}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>xishou9.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,466},{176,150}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{176,150}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xishou.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:706978ba45c7cea49c2c9ce8465e6fd8:1/1$</string>
            <key>textureFileName</key>
            <string>xishou.png</string>
        </dict>
    </dict>
</plist>
